<!-- include header using ejs -->
<%- include("partials/header.ejs") %>

<h1>About page</h1>
<img class="profile" src="images/akimg.jpg" alt="Akshita Pathak Image">
<p>Languages: C/C++, HTML, CSS, JavaScript, Python, SQL, PL/SQL</p>

<p>Course Curriculum: Operating System (OS), Object oriented programming (OOPS), Data Structures and Algorithms (DSA), Design and Analysis of Algorithms (DAA), Artificial Intelligence (AI), Machine Learning (ML), Database Management System (DBMS), Web Development (Frontend), Computer Networking, Cybersecurity</p>

<p>Dev Tools: React, Rapid API, Matlab, GIT/Github, Bootstrap, Canva, GNS3, Dia, Postman, Linux, Adobe Photoshop</p>

<p>Others: Problem Solving, Analytical Thinking, Time Efficiency, Project Management, Communication, Team Work</p>


<!-- include footer using ejs -->
<%- include("partials/footer.ejs") %>