<!-- include header using ejs -->
<%- include("partials/header.ejs") %>

<h1>Home page</h1>
<p>I seek a position to leverage my technical skills and knowledge while contributing to innovative projects and
    growing as a professional in the ﬁeld. To my advantage I bring academic merit, discipline, good communication as
    pillars of my work ethos.
</p>
<hr>
<h1>Education:</h1>
<p>Thapar Institute of Engineering and Technology, Patiala: BTech in Computer Engineering, <br> ⭐️CGPA: 9.20 (on 10 scale), 2022-2026 (Expected)</p>
<br>
<p>Smart Wonders School, Mohali: <br>⭐️12th Grade, CBSE 96.8%, <br> ⭐️10th Grade, CBSE 94.6%</p>


<!-- include footer using ejs -->
<%- include("partials/footer.ejs") %>